{% extends 'base/base.html'%}
{% block content %}
<div class="header-bar">
	<a href="{% url 'student-list' %}">&#8592; Back</a>
</div>
<h1 style="text-align:center;">Book Loan List</h1>

<div class='card-body'>
	{% if not loanbooks %}
		<p> There are no book loans for this student </p>
	{% else %}
		<h2>Total Amount Due: ${{amountowed | floatformat:2}}<h2>
		<div class = 'book-items-wrapper'>
			{% for book in loanbooks %}
			<div class='book-wrapper'>
				<div class='book-title'>
					<span style="padding-right:10px">{{book.book}}</span>
					<span>{{book.borrow_date}}</span>
				</div>
				<div class="edit-and-delete">
					<a href="{% url 'return-book' book.id %}">Return</a>
				</div>
			</div>
			{% endfor%}
		</div>
	{% endif %}
</div>


	<!-- <table>
		<tr>
			<th> Book Title </th>
			<th> Borrow Date </th>
		</tr>
		{% for book in loanbooks %}
			<tr>
				<td>{{book.book}}</td>
				<td>{{book.borrow_date}}</td>
				<td><a href="{% url 'return-book' book.id %}">Return</a></td>
			</tr>
		{% endfor%}
	</table> -->

{% endblock %}